interactive-fiction {
    height: 100vh;

    grid-window {
        section:first-child {
            margin-top: calc(var(--border-size) * -1);
            text-align: center;
            white-space: pre;
            font-family: "Inconsolata", monospace;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-variation-settings: "wdth" 75;
        }
    }
}
