.wrangler
artifacts
node_modules
www/content
www/client
www/cards/*
www/new-client/main.*
db/full.sql
.idea/inspectionProfiles/
.idea/dataSources.local.xml
games
wrangler-local.toml
.env
*.png
tools
.playwright-mcp/

# build-client outputs
www/player/main.js
www/player/main.css
www/cards/main.js
www/cards/main.css
www/catalogue/main.js
www/catalogue/main.css
www/wasiglk/
