body {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13pt;
    background-color: black;
    background-image: url('desk.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
    margin: 0;
    padding: 0;
}

:root{
    scroll-behavior: smooth;
    scroll-padding-bottom: 20px;
}

body.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body.story {
    padding: 0 20px;
}

.results .card {
    margin: 30px;
    width: 300px;
    height: 500px;
    background: linear-gradient(to bottom, #c09a61, #4a2c16);
    border-radius: 16px;
    border: 16px ridge #F5D39D ;
    position: relative;
    color: #fff;
    /*font-family: Arial, sans-serif;*/
    box-shadow: 0px 0px 20px #21211c;
    display: flex;
    flex-direction: column;
}

.story .card {
    margin: 30px auto;
    min-width: 300px;
    max-width: 600px;
    background: linear-gradient(to bottom, #c09a61, #4a2c16);
    border-radius: 16px;
    border: 16px ridge #F5D39D ;
    position: relative;
    color: whitesmoke;
    font-family: Arial, sans-serif;
    text-align: justify;
    box-shadow: 0px 0px 20px #21211c;
}

.input {
    margin: 0;
    display: flex;
    align-items: center;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-color: #1D1C0E;
    padding: 10px;
    font-size: 1.5rem;
}

.input + * {
    border-top: 10px ridge #F5D39D;
}

.input::before {
    content: "";
    display: block;
    background-image: url('icons/chevron-right-solid.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    font-size: 2rem;
}

.input-control form::after {
    content: "";
    display: block;
    background-image: url('icons/microphone-solid.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    font-size: 2rem;
    margin-left: 10px;
}

.input-control form input {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    background-color: transparent;
    color: whitesmoke;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    border: none;
    margin: 0;
    outline-width: 0;
    outline-style: none;
}



.rating {
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
}

.rating:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: rotateX(45deg) rotateZ(45deg);
    background-color: #4a2c16;
    z-index: -1;
}

.rating:after {
    position: absolute;
    top: -4px;
    left: -4px;
    content: '';
    height: calc(100% - 12px);
    width: calc(100% - 12px);
    border: 10px ridge #F5D39D;
    transform: rotateX(45deg) rotateZ(45deg);
}

.image {
    flex-shrink: 0;
    object-fit: contain;
    width: 100%;
    background-color: #000;
}

.results .image {
    min-height: 200px;
    max-height: 330px;
}

.title, div.header, div.subheader {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding: 10px;
    font-size: 1.5em;
    background-color: #1D1C0E;
    color: whitesmoke;
    border-top: 10px ridge #F5D39D;
    border-bottom: 10px ridge #F5D39D;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title:first-child, div.header:first-child, div.subheader:first-child {
    border-top: none;
}

.title:last-child, div.header:last-child, div.subheader:last-child {
    border-bottom: none;
}

.span.header, span.subheader {
    font-weight: 700;
}

.emphasized{
    font-style: italic;
}

div.normal, div.alert, div.emphasized, .paragraph {
    padding: 10px 10px 0 10px;
}

div.normal:last-child, div.alert:last-child, div.emphasized:last-child, .paragraph:last-child {
    padding-bottom: 10px;
}

.author {
    flex-grow: 1;
    padding: 10px;
    font-size: 1rem;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: auto;
    scrollbar-color: #A18B67 transparent;
    scrollbar-width: thin;
}

.description, .normal {
    font-size: 1em;
    text-align: justify;
    scrollbar-color: #A18B67 transparent;
    scrollbar-width: thin;
}


.description {
    padding: 10px 10px 10px 10px;
    position: absolute;
    height: calc(100% - 20px);
    overflow-y: auto;
}

.description {
    transform: rotateY(180deg);
}

.play {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3em;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: whitesmoke;
    background-color: #6C3483;
    border: 2px solid  #9B59B6;
    border-radius: 40px;
    width: 120px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play:not([href]) {
    color: #F5F5F5;
    background-color: #A9A9A9;
    border-color: #D3D3D3;
    cursor: default;
}

.play:after {
    position: absolute;
    top: -10px;
    left: -10px;
    content: '';
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border: 8px ridge #F5D39D;
    border-radius: 40px;
}

.results .card {
    perspective: 1000px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.results .card:hover {
    transform: scale(1.03);
}

.results .card > *:not(.rating) {
    backface-visibility: hidden;
}

.results .orientation {
    display: none;
}

.results .orientation:checked + .card {
    transform: rotateY(180deg);
}

.results .orientation:checked + .card:hover {
    transform: rotateY(180deg) scale(1.03);
}

.results .rating {
    transition: 0s 0.15s;
}

.results .orientation:checked + .card > .rating  {
    color: transparent;
    z-index: 1;
}


