interactive-fiction {
    height: 100vh;

    grid-window {
        position: fixed;
        top: calc(38px + var(--padding));
        left: 0;
        right: 0;
        z-index: 10;
        margin: 0 auto;
        min-width: 300px;
        max-width: calc(600px + var(--border-size) * 2);

        section:first-child {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            white-space: pre;
            font-family: "Inconsolata", monospace;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-variation-settings: "wdth" 75;
        }
    }

    buffer-window section.card:first-child {
        margin-top: calc(38px + 38px + var(--border-size) * 3 + var(--padding) * 2);
    }

    user-input {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        margin: 0 auto;
        min-width: 300px;
        max-width: calc(600px + var(--border-size) * 2);
    }
}
