:root {
    --white-smoke: #F5F5F5;
    --timerwolf: #D3D3D3;
    --silver: #A9A9A9;
    --dim-gray: #636363ff;
    --eerie-black: #1C1C1C;

    --sunset: #f5d39d;
    --lion: #c09a61;
    --coyote: #85633cff;
    --caf-noir: #4a2c16;

    --purpureus: #9b59b6ff;
    --eminence: #6c3483ff;
    --palatinate: #52154eff;

    --azul: #246eb9;
    --dark-pastel-green: #4cb944;
    --tomato: #f06543;
}
