
:root {
    --border-size: 10px;
    --padding: 10px;
}

.results .card .rules {
    overflow: hidden;
    font-size: 0.9rem;
}

.story .card form {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
}

.story .card form label {
    text-align: right;
}

.story .card form select, .story .card form select option {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    background-color: var(--eerie-black);
    color: var(--white-smoke);
    border: none;
    margin: 0;
    outline-width: 0;
    outline-style: none;
    appearance: none;
}

.story .card form button {
    grid-column: 2;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    background-color: var(--eerie-black);
    color: var(--white-smoke);
    border: 2px solid var(--white-smoke);
    border-radius: 7px;
    padding: 6px 7px 6px 6px;
    flex-grow: 1;
    text-align: center;
}

.story .card form button:hover {
    text-decoration: none;
    background-color: var(--white-smoke);
    color: var(--eerie-black);
}

.story .card form button {
    grid-column: 2;
}

.results .card {
    box-sizing: content-box;
    width: 56mm;
    min-width: unset;
    height: 89mm;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
}

.results .card:hover {
    cursor: pointer;
    transform: scale(1.1);
    z-index: 2;
}

.results .card.duplicate {
    display: none;
}

@media print {
    @page {
        size: landscape;
        margin: 0;
    }

    .story {
        display: none;
    }

    .results .card {
        box-shadow: none;
        break-inside: avoid;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        page-break-inside: avoid;
    }

    .results .card.duplicate {
        display: block;
    }
}