.card {
    box-sizing: content-box;
    margin: 15px;
    width: 56mm;
    min-width: unset;
    height: 89mm;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, var(--lion), var(--caf-noir));
    border-radius: var(--border-size);
    border: var(--border-size) ridge var(--sunset);
    color: var(--white-smoke);
    box-shadow: 10px 10px 10px 0 var(--eerie-black);
    transition: transform 0.2s;

    &.active &:hover {
        cursor: pointer;
    }

    &:hover, &:focus-within {
        transform: translateY(-5px);
    }

    .image {
        width: 100%;
        min-height: 50%;
        display: block;
        aspect-ratio: 1 / 1;
        flex-shrink: 0;
        object-fit: contain;
        background-color: #000;
        background-image: url(/icons/loader.svg);
        background-size: 100px 100px;
        background-position: center;
        background-repeat: no-repeat;

        &:not([src]) {
            display: none;
        }
    }

    .title {
        position: relative;
        margin: 0;
        font-size: 1.5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        padding: 10px;
        background-color: var(--eerie-black);
        color: var(--white-smoke);
        border-top: var(--border-size-small) ridge var(--sunset);
        border-bottom: var(--border-size-small) ridge var(--sunset);
    }

    [data-placeholder] {
        &:empty::before {
            position: absolute;
            content: attr(data-placeholder);
            color: #757575;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: none;
        }

        &:focus::before {
            display: none;
        }
    }

    .rules {
        font-family: Arial, sans-serif;
        overflow: hidden;
        font-size: 0.9rem;
        position: relative;
        flex-grow: 1;
        padding: 10px;
        text-align: center;
        display: grid;
        place-items: center;
    }
}