@import url('PlayingCard.css') layer(components);

card-creator {
    background: black;
    opacity: 0.75;

    .image {
        background-color: black;
        background-image: url('/icons/plus-solid.svg');

        &:not([src]) {
            display: block;
        }
    }
}

@media print {
    card-creator {
        display: none;
    }
}